<!-- partial:index.partial.html -->
<div class="contenedorRegister">
    
    <h1>Bienvenido/a, Ingrese sus datos para registrarse </h1>
    <section class="inputs">
        <form id="registerForm" action="/api/sessions/register" method="post">
        
            <div class="name">
            <label for="name">Nombre/s</label>
            <div class="sec-2">
                <ion-icon name="person-outline"></ion-icon>
                <input type="text" name="name" placeholder="Daniel"/>
            </div>
            </div>
            <div class="name">
                <label for="lastName">Apellido/s</label>
                <div class="sec-2">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" name="lastName" placeholder="Rodriguez"/>
                </div>
            </div>

            <div class="email">
                <label for="email">Correo Electronico</label>
                <div class="sec-2">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" name="email" placeholder="Username@gmail.com"/>
                </div>
            </div>
            <div class="password">

                <label for="password">Password</label>

                <div class="sec-2">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input class="pas" type="password" name="password" placeholder="路路路路路路路路路路路路"/>
                </div>
                <h5 style="color: rgb(209, 99, 99);">La contrase帽a debe incluir una mayuscula y un numero</h5>

            </div>

            <div class="birthdate">
                <label for="birthDate">Fecha de Nacimiento</label>
                
                <div class="sec-2">
                    <ion-icon name="calendar-outline"></ion-icon>
                    <input class="birthdate-input" type="date" name="birthDate" placeholder="Fecha de Nacimiento"/>
                </div>

            </div>

            <div class="phone">
                <label for="phone">Tel茅fono</label>
                <div class="sec-2">
                    <ion-icon name="call-outline"></ion-icon>
                    <input type="tel" name="phone" placeholder="N煤mero de tel茅fono"/>
                </div>
            </div>
            <button class="register" type="submit">Registrarse </button>
        </form>
        
    </section>
    

    

    <a href="/login"><button>Iniciar Sesi贸n</button></a>
</div>

<script src="/js/register.js"></script>

